{% extends 'base.html' %} {% block content %}
<section class="all-pets">
    {% for pet in pet_photos %}
    <div class="individual_pet">
        <img src="{{pet['photo_url']}}" alt="{{pet['caption']}}" />
        <div class="caption">{{pet['caption']}}</div>
        <div class="photo_id"></div>
        {% if pet['has_liked'] == 0 %}
        <form action="/like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">LIKE</button>
            <div class="likes">{{pet['like_count']}}</div>
        </form>
        {% else %}
        <form action="/un_like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">UNLIKE</button>
            <div class="likes">{{pet['like_count']}}</div>
        </form>
        {% endif %}
    </div>
    {% endfor %}
</section>

{% endblock content%}
