{% extends 'base.html' %} {% block content %}
<section class="all-pets">
    {% for pet in pet_photos %}
    <div class="individual_pet">
        <img src="{{pet['photo_url']}}" alt="{{pet['caption']}}" />
        <div class="caption">{{pet['caption']}}</div>
        <div class="photo_id">
            photo_id: {{pet['photo_id']}}, user_id: {{pet['user_id']}}
        </div>
        <form action="/like" method="POST" id="like">
            <button name="like" type="submit" value="{{pet['user_id']}}">
                LIKE
            </button>
        </form>
        <!-- There is a need to put the phot_id here but first it 
            must be retrieved from the photo table in the DB. -->
    </div>
    {% endfor %}
</section>

{% endblock content%}
