{% extends 'base.html' %} {% block content %}
<section class="type_pet">
    <div>
        <form action="/sort_type/post" method= "POST">
            <label for="pet_type">What type of pet?</label>
            <select name="pet_type" id="pet_type">
                <option value="None">All</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="horse">Horse</option>
                <option value="fish">Fish</option>
                <option value="other">Other</option>
            </select>
            <button type="submit">OK</button>
        </form>
    </div>
    <div class= "gallery_container">
        <div class="responsive">
            {% for pet in pet_photos %}
            <div class="gallery">
                <a href = "/enlarge/{{pet['photo_id']}}">
                <img src="{{pet['photo_url']}}" alt="{{pet['caption']}}" width="600" height="400" />
                </a>
                <div class="desc">{{pet['caption']}}</div>
                <div class="photo_id"></div>
                <form action="/edit_delete" method="POST" id="edit_delete">
                    <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
                    <button type="submit" value="{{pet['user_id']}}">EDIT / DELETE</button>
                </form>
                {% if pet['has_liked'] == 0 %}
                <form action="/like" method="POST" id="like">
                    <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
                    <button type="submit" value="{{pet['user_id']}}">LIKE</button>
                    <div class="likes"> {% if pet['like_count'] != 0 %} {{pet['like_count']}} {% if pet['like_count'] == 1 %}Like: {% else %} Likes: {% endif %} &#128076 {% else %}No Likes &#128530;{% endif %}</div>
                    
                </form>
                {% else %}
                <form action="/un_like" method="POST" id="like">
                    <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
                    <button type="submit" value="{{pet['user_id']}}">UNLIKE</button>
                    
                    <div class="likes">{{pet['like_count']}} {% if pet['like_count'] == 1 %}Like: {% else %} Likes: {% endif %}{% if pet['like_count'] != 0 %} &#128076</div>
                    {% endif %}
                </form>
                {% endif %}   
            </div>
            {% endfor %}
        </div>
        </div>
</section>
    {% endblock content%}
</section>
