{% extends 'base.html' %} {% block content %}
<section class="type_pet">
    <div>
        <form action="/sort_type/post" method= "POST">
            <label for="pet_type">What type of pet?</label>
            <select name="pet_type" id="pet_type">
                <option value="None">All</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="horse">Horse</option>
                <option value="fish">Fish</option>
                <option value="other">Other</option>
            </select>
            <button type="submit">OK</button>
        </form>
    </div>
    {% for pet in pet_photos %}
    <div class="individual_type">
        <img src="{{pet['photo_url']}}" alt="{{pet['caption']}}" />
        <div class="caption">{{pet['caption']}}</div>
        <div class="photo_id"></div>
        <form action="/edit_delete" method="POST" id="edit_delete">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">EDIT / DELETE</button>
        </form>
        {% if pet['has_liked'] == 0 %}
        <form action="/like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">LIKE</button>
            <div class="likes">{{pet['like_count']}} {% if pet['like_count'] != 0 %} &#128076</div>
            {% endif %}
        </form>
        {% else %}
        <form action="/un_like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">UNLIKE</button>
            
            <div class="likes">{{pet['like_count']}} {% if pet['like_count'] != 0 %} &#128076</div>
            {% endif %}
        </form>
        {% endif %}   
    </div>
    {% endfor %}
</section>
    {% endblock content%}
</section>
