{% extends 'base.html' %} {% block content %}
<section class="type_pet">
    {% for type in types %}
    <div class="individual_type">
        <img src="{{type['photo_url']}}" alt="{{type['caption']}}" />
        <div class="caption">{{type['caption']}}</div>
        <div class="photo_id"></div>
        <form action="/edit_delete" method="POST" id="edit_delete">
            <input type="hidden" name="photo_id" value="{{type['photo_id']}}" />
            <button type="submit" value="{{type['user_id']}}">EDIT / DELETE</button>
        </form>
        {% if type['has_liked'] == 0 %}
        <form action="/like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{type['photo_id']}}" />
            <button type="submit" value="{{type['user_id']}}">LIKE</button>
            <div class="likes">{{type['like_count']}} {% if type['like_count'] != 0 %} &#128076</div>
            {% endif %}
        </form>
        {% else %}
        <form action="/un_like" method="POST" id="like">
            <input type="hidden" name="photo_id" value="{{pet['photo_id']}}" />
            <button type="submit" value="{{pet['user_id']}}">UNLIKE</button>
            
            <div class="likes">{{type['like_count']}} {% if type['like_count'] != 0 %} &#128076</div>
            {% endif %}
        </form>
        {% endif %}
    </div>
    {% endfor %}
</section>

{% endblock content%}
