{% extends 'base.html' %} {% block content %}

<div class="signup">
    <form action="/users" method="POST">
        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}
        <h2>SIGN UP</h2>
        <div class="name">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" />
        </div>
        <div class="email">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" />
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
        </div>
        <div class="password">
            <label for="password2">Confirm Password</label>
            <input id="password2" name="password2" type="password" />
        </div>
        <div class="button">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}
