{% extends 'base.html' %} {% block content%}
<section class="user_list">
    <div class="user_individual">
        <h2>Edit User</h2>
        {% for user in users %}
        <div>
            <label for="name">Name</label>
            <a>{{ user['name'] }}</a>
        </div>
        <div>
            <label for="email">Email</label>
            <a>{{ user['email'] }}</a>
        </div>
        {% if session['user_id'] == user['user_id'] %}
        <form action="/user/{{ user['user_id'] }}/edit" method="POST">
            <button class="edit_user" type="submit">Edit/Delete</button>
        </form>
        {% endif %} {% endfor %}
    </div>
</section>
{% endblock content %}
